<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .product-img {
            height:180px;
        }
    </style>


    <!-- Custom styles for this template -->
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/starrr.css}" rel="stylesheet"/>
    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <script th:src="@{/js/starrr.js}"></script>

    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>책 상세</h2>
    </div>

    <div>
        <img class="product-img" th:src="${bookImg.getFileFullPath()}">
    </div>


    <div>
        <label for="bookId">BOOK ID</label>
        <input type="text" id="bookId" class="form-control" value="1" th:value="${book.bid}" readonly>
    </div>
    <div>
        <label for="bookName">책 이름</label>
        <input type="text" id="bookName" class="form-control" value="상품A" th:value="${book.name}" readonly>
    </div>
    <div>
        <label for="bookWriter">글쓴이</label>
        <input type="text" id="bookWriter" class="form-control" value="10000" th:value="${book.writer}" readonly>
    </div>
    <div>
        <label for="bookPublisher">출판사</label>
        <input type="text" id="bookPublisher" class="form-control" value="10" th:value="${book.publisher}" readonly>
    </div>

    <hr class="my-4">


    <!--리뷰 등록-->
    <button type="button" class="btn btn-dark addReviewBtn"> 리뷰 등록 </button>

    <div class="reviewModal modal" id="reviewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Book Review</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>사용자 ID</label>
                        <input type="text" class="form-control" name="uid">
                    </div>

                    <div class="form-group">
                        <label>Grade <span class="grade"></span></label>
                        <div class="starrr"></div>
                    </div>

                    <div class="form-group">
                        <label>리뷰 내용</label>
                        <input type="text" class="form-control" name="content" placeholder="리뷰 내용을 작성해주세요">
                    </div>
                </div>
                <div class="modal-footer">
<!--                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>-->
                    <button type="button" class="btn btn-primary btn-sm reviewSaveBtn">저장</button>
                    <button type="button" class="btn btn-warning btn-sm reviewModifyBtn">수정</button>
                    <button type="button" class="btn btn-danger btn-sm reviewDeleteBtn">삭제</button>
                </div>
            </div>
        </div>

        <div class="imageModal modal" tabindex="-2" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Picture</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">


    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='bookEditForm.html'"
                    th:onclick="|location.href='@{}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='bookList.html'"
                    th:onclick="|location.href='@{/book/list}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->



<script>
    $(document).ready(function (e){
        var grade = 0;
        var bid = [[${book.bid}]];

        $('.starrr').starrr({
            rating: grade,
            change: function(e, value){
                if (value){
                    console.log(value);
                    grade = value;
                }
            }
        });

        var reviewModal = $(".reviewModal");
        var inputUid = $('input[name="uid"]');
        var inputText = $('input[name="content"]');

        $(".addReviewBtn").click(function () {
            inputUid.val("");
            inputText.val("");

            $(".removeBtn ,  .modifyBtn").hide();
            $(".reviewSaveBtn").show();

            reviewModal.modal('show');
        });

        $('.reviewSaveBtn').click(function(){
            var data = {bid:bid, grade:grade, content:inputText.val(), uid: inputUid.val()}

            console.log(data);

            $.ajax({
                url: '/book/review/' + bid,
                method:'POST',
                contentType: 'application/json; charset=utf-8',
                data:JSON.stringify(data),
                dataType:"text",
                success: function(result){
                    alert("리뷰가 등록되었습니다.");
                    console.log("result : " + result);
                    self.location.reload();
                }
            })
            reviewModal.hide();
        })

        var rid;

        $('.reviewDeleteBtn').on("click", function () {

            $.ajax({
                url: '/book/review/' + bid + "/" + rid,
                method: "DELETE",
                contentType: 'application/json; charset=utf-8',
                dataType: "text",
                success: function (result) {
                    alert("리뷰가 삭제되었습니다.");
                    self.location.reload();
                }
            })
            reviewModal.hide();
        });

        $('.reviewModifyBtn').on("click",function(){
            var data = {rid:rid, bid:bid, grade:grade, content:inputText.val()}
            $.ajax({
                url: '/book/review/' + bid + "/" + rid,
                method: "PUT",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                dataType:"text",
                success: function(result){
                    alert("리뷰가 수정되었습니다.");
                    self.location.reload();
                }
            })
            reviewModal.hide();
        })
    });
</script>



</body>


</html>