<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <div class="py-5 text-center">
        <h2>글 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='postForm.html'"
                    th:onclick="|location.href='@{/post/add}'|"
                    type="button">글쓰기
            </button>
        </div>
    </div>

    <hr class="my-4">

    <form th:action="@{'/post/list/'}" method="get" th:object="${posts}">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>no</th>
                    <th> 제   목 </th>
                    <th>작가</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td><a th:href="@{/board/post/{postId}(postId=${post.pid})}" th:text="${post.pid}">no</a></td>
                    <td><a th:href="@{|/board/post/${post.pid}|}" th:text="${post.title}">제목</a></td>
                    <td th:text="${post.writer}">작가</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

</div> <!-- /container -->


</body>
</html>