<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>

    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>글 수정</h2>
    </div>


    <form role="form" method="post" th:formaction="@{/board/post/{pid}/edit(pid=${post.pid})}" th:object="${post}">

        <input type="hidden" th:field="*{pid}">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">글 제목</span>
            </div>
            <input type="text" th:field="*{title}" class="form-control">
        </div>

        <br>

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">작가</span>
            </div>
            <input type="text" th:field="*{writer}" class="form-control" readonly>
        </div>

        <br>

        <div class="input-group">
            <textarea class="form-control" rows="10" th:field="*{content}"></textarea>
        </div>

        <hr class="my-4">

        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">저장</button>
        </div>

    </form>


</div> <!-- /container -->
</body>
</html>