<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>책 상세</h2>
    </div>


    <div>
        <label for="postId">post ID</label>
        <input type="text" id="postId" class="form-control" th:value="${post.pid}" readonly>
    </div>
    <div>
        <label for="postName">작가</label>
        <input type="text" id="postName" class="form-control" th:value="${post.writer}" readonly>
    </div>
    <div>
        <label for="postWriter">내용</label>
        <textarea id="postWriter" class="form-control" th:text="${post.content}" readonly></textarea>
    </div>


    <hr class="my-4">


    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='postEditForm.html'"
                    th:onclick="'location.href=\''+ @{/board/post/{pid}/edit(pid=${post.pid})} + '\''"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='postList.html'"
                    th:onclick="|location.href='@{/board/list}'|"
                    type="button">목록으로</button>
        </div>
    </div>

</div>
</body>
</html>